@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 01");

    //retreive the data entered into the input controls
    //var datatype: resolves at execution time
    //to access a control of your page use: Request.Form["control parameter name"]
    //the data returned comes in as a STRING
    var myname = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];
    string choices = "";
    //any other additional processing such as database access
}

@section banner {
    <h1>@Page.Title</h1>
}

<!-- determine if the page is a postback or not-->
@if (IsPost)
{
    @*<p>IsPost = true</p>*@
    //this true path is done IF this page is returning
    //from the previous sending

    //IF you have multiple buttons on your form, you SHOULD
    //determine which button was pressed; thus; dictating WHICH
    //logic is to be EXECUTED
    choices = Request.Form["GameGroup"];
    if (thebutton.Equals("submit"))
    {
        //the Press Me button was pressed
        if (string.IsNullOrEmpty(myname))
        {
            <p style="color:firebrick">You don't have a name?</p>
        }
        else if (choices.IsEmpty())
        {
            <p style="color:firebrick">You don't like Food?</p>
            choices = "";
        }
        else
        {
            <p>Hello there @myname!</p>            
            <p>
                I see you like the following Foods:
                <ul>
                    @foreach (var platform in choices.Split(','))
                     {
                         <li>@platform</li>
                     }
                </ul>
            </p>            
        }
    }
    else
    {
        //the Reset button was pressed
        myname = "";
        <p>You pressed the Reset button</p>
    }
}
else
{
    // use to initialize items on your form BEFORE it is sent
    // to the user for the FIRST time.
    @*<p>IsPost = false</p>*@
}

<form id="EX01" method="post">
    <div class="row offset-1">
        <div class="col-md-3">
            <label id="label2" for="dataentry">Customer Name:</label>
            <div>
                <input type="text" id="dataentry" name="dataentry" value="@myname" />
            </div>
            <br /><br />
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-primary">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
        <div class="col-md-9">
            <label id="lblGameGroup">Choose Your Meal Items:</label><br />            
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Pizza" />Pizza<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Cupcakes" />Cupcakes<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Sandwhiches" />Sandwhiches<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Pickles" />Pickles<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Mango" />Mango<br /><br />
        </div>
    </div>
    <div class="row">

    </div>
</form>